.jumbotron {
    background-color: orange;
    text-decoration-style: double;
}

.original_title {
    background: orangered;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.summary_title {
    background-color: greenyellow;
    font-size: 2opx;
    font-weight: bold;
    padding: 2px;
    display: flex;
    justify-content: center;
}

.srt {
    display: flex;
    flex-direction: row;
}

.originalTxt {
    background-color: orangered;
    padding: 20px;
}

.summaryTxt {
    background-color: greenyellow;
    padding: 20px;
    margin-left: 10px;
}

.heading {
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.submitbtn {
    margin-top: 10px;
}